body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body > h1 {
  font-size: 24px;
}

.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border: 1px solid #007BFF;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  /* background-color: white; */
  transition: background 0.3s;
}

.message {
  margin-top: 20px;
  color: #555;
}

form div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

form div button {
  flex-grow: 1
}

/* Toastify custom styles */
.toast {
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  bottom: 60px;
  font-family: monospace;
  display: inline-flex;
  line-height: 12px;
}

.success {
  color: white;
  background: #198754 !important;
}

.hidden {
  display: none;
}

/* Fondo oscuro del modal */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mostrar el modal */
.modal_overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Contenedor del modal */
.modal {
  background-color: #fff;
  border-radius: 12px;
  max-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  font-size: 20px;
  font-weight: normal;
  background-color: #dc3545;
  border-radius: 8px 8px 0 0;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.modal p {
  padding: 0px 20px;
}

/* Campo de texto */
.modal input[type="text"] {
  display: block;
  width: calc(100% - 40px);
  margin: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.modal div {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0px 20px;
  gap: 10px;
  margin: 20px 0px;
}

/* Botones */
.modal button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
